@model ElArabia.ViewModel.HomePageViewModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    img {
        width: 100%;
    }
</style>

<div id="myCarousel" class="carousel slide mt-5" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <button onclick="location.href='@Url.Action("_EditHeader", "Admin")'"  class="btn btn-light col-lg-12  mt-5">Edit Header</button>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="@Url.Content(Model.Header.IMG1)" />
            <div class="container">
            </div>
        </div>
        <div class="carousel-item">
            <img src="@Url.Content(Model.Header.IMG2)" />
        </div>
        <div class="carousel-item">
            <img src="@Url.Content(Model.Header.IMG3)" />
        </div>
        <div class="carousel-item">
            <img src="@Url.Content(Model.Header.IMG4)" />
        </div>
        <div class="carousel-item">
            <img src="@Url.Content(Model.Header.IMG5)" />
        </div>
        <div class="carousel-item">
            <img src="@Url.Content(Model.Header.IMG6)" />
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-target="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>

<div class="container marketing my-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="gp__title title title--3">@Model.HomeModelOne.Title</h2>
            <p class="lead">@Model.HomeModelOne.Description</p>
            <p class="gp__description"><a class="gp__cta btn btn--orange" href="#" style="background-color: #f9c623;color:#ff0000">اكتشفوا جميع انواع الجبنة &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <a class="bd-placeholder-img" href="~/Admin/_EditModelOne">
                <img src="@Url.Content(Model.HomeModelOne.IMG)" />
            </a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">@Model.HomeModelTwo.Title</h2>
            <p class="lead">@Model.HomeModelTwo.Description</p>
        </div>
        <div class="col-md-5 order-md-1">
            <a class="bd-placeholder-img" title="#" href="~/Admin/_EditModelTwo">
                <img src="@Url.Content(Model.HomeModelTwo.IMG)" />
            </a>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">@Model.HomeModelThree.Title</h2>
            <p class="lead">@Model.HomeModelThree.Description</p>
        </div>
        <div class="col-md-5">
            <a class="bd-placeholder-img" title="#" href="~/Admin/_EditModelThree">
                <img src="@Url.Content(Model.HomeModelThree.IMG)" />
            </a>
        </div>
    </div>

    <hr class="featurette-divider">

</div>

<div class="DivFore2">
    <div class="container">
        <div class="carousel5">
            @foreach (var item in Model.BrandsModel)
            {
                <div class="card">
                    <div class="card-header">
                        <a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = item.NameEn})'">
                            <img class="pic-1" src="@Url.Content(item.Image)">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <div class="card-title"><h3>@item.NameEn</h3></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>