@model ElArabia.ViewModel.ItemsListViewModel

@{
    ViewBag.Title = "More Detials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light my-5">

    <img class="pic-1 m-5" src="@Url.Content(Model.product.Image)" style=" height: 300px; border-radius: 21px 21px 0 0;">
    <h1 class="display-4 font-weight-normal">@Model.product.NameAr</h1>
    <p class="lead font-weight-normal">@Model.product.Description</p>
    <a class="btn btn-outline-secondary" href="#">طريقة التحضير</a>

</div>

@*<div class="d-md-Flexx flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">@Model.LastOrDefault().NameAr</h2>
            <p class="lead">@Model.LastOrDefault().Description</p>
        </div>
        <img class="pic-1 m-5" src="@Url.Content(Model.LastOrDefault().Image)" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">@Model.FirstOrDefault().NameAr</h2>
            <p class="lead">@Model.FirstOrDefault().Description</p>
        </div>
        <img class="pic-1 m-5" src="@Url.Content(Model.FirstOrDefault().Image)" style="width:80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
</div>*@

<div class="DivFore2">
    <div class="container">
        <div class="carousel5">
            @foreach (var item in Model.products)
            {
                <div class="card">
                    <div class="card-header">
                        <a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = item.NameEn})'">
                            <img class="pic-1" src="@Url.Content(item.Image)">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <div class="card-title"><h3>@item.NameAr</h3></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>