@model ElArabia.ViewModel.ItemsListViewModel

@{
    ViewBag.Title = "More Detials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light my-5">

    <img class="pic-1 m-5" src="@Url.Content(Model.product.Image)" style=" height: 300px; border-radius: 21px 21px 0 0;">
    <h1 class="display-4 font-weight-normal">@Model.product.NameAr</h1>
    <p class="lead font-weight-normal">@Model.product.Description</p>
    @if (@Model.product.Prepare != "#")
    {
        <a class="btn btn-outline-secondary" src="#" target="_blank" href="@Model.product.Prepare">طريقة التحضير</a>
    }else
    {
        <a class="btn btn-outline-secondary" src="#" href="@Model.product.Prepare">طريقة التحضير</a>
    }
</div>

<div class="DivFore2">
    <div class="container">
        <div class="carousel5">
            @foreach (var item in Model.products)
            {
                <div class="card">
                    <div class="card-header">
                        <a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = item.NameEn})'">
                            <img class="pic-1" src="@Url.Content(item.Image)">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <div class="card-title"><h3>@item.NameAr</h3></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>