<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El-Arabia - @ViewBag.Title</title>
    <link rel="icon" href="~/Images/Logo/gold sahdaow.png" /><!--Logo-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/checkout.js"></script>
    <script src="~/js/toast.min.js"></script>

    <style>

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#f9c623">
            <a class="navbar-brand" href="~/Home/Index"><img src="~/Images/Logo/back sahdaow.png" style="width:65px;height:35px;" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ElArabia.Resource.StoreAr.OurCheese <span class="sr-only">(current)</span></a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" style="background-color:#f9c623">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="Black0 m-md-2 m-md-2">Colla (Italia)</a>
                                <ul class="dropdown-menu" style="background-color:#f9c623">
                                    <li><a tabindex="-1" onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2 m-md-2">Hard Cheese</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Grana Padano"})'" class="Black m-md-2 m-md-2">Grana Padano</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Parmigiano Reggiano"})'" class="Black m-md-2 m-md-2">Parmigiano Reggiano</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Pecorino Romano"})'" class="Black m-md-2 m-md-2">Pecorino Romano</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Provolone Picante"})'" class="Black m-md-2 m-md-2">Provolone Picante</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="Black0 m-md-2">Huizer-Kaas (Italia)</a>
                                <ul class="dropdown-menu" style="background-color:#f9c623">
                                    <li><a tabindex="-1" onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Gouda Cheese"})'" class="Black m-md-2">Gouda Cheese</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Gouda Cheese4.5Kg"})'" class="Black m-md-2">Gouda Cheese4.5Kg</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Gouda Old Cheese"})'" class="Black m-md-2">Gouda Old Cheese</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Gouda Lite Cheese"})'" class="Black m-md-2">Gouda Lite Cheese</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Huizer Kaas-Gilde Cumin4.5kg"})'" class="Black m-md-2">Huizer Kaas-Gilde Cumin4.5kg</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Gouda Olive Tomato Cheese"})'" class="Black m-md-2">Gouda Olive Tomato Cheese</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Gouda Chili Cheese4.5Kg"})'" class="Black m-md-2">Gouda Chili Cheese4.5Kg</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Gouda Goat Cheese4.5Kg"})'" class="Black m-md-2">Gouda Goat Cheese4.5Kg</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Goat With Chili Cheese4.5Kg"})'" class="Black m-md-2">Goat With Chili Cheese4.5Kg</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Maasdam Cheese"})'" class="Black m-md-2">Maasdam Cheese</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Gouda With Dill Cheese4.5Kg"})'" class="Black m-md-2">Gouda With Dill Cheese4.5Kg</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Edam loaf 3kg"})'" class="Black m-md-2">Edam loaf3kg</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Emmental loaf 3kg"})'" class="Black m-md-2">Emmental loaf3kg</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="Black0 m-md-2">Hajdu (Italia)</a>
                                <ul class="dropdown-menu" style="background-color:#f9c623">
                                    <li><a tabindex="-1" onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hungarian labneh"})'" class="Black m-md-2">Hungarian labneh </a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="Black0 m-md-2">Kaptein (Italia)</a>
                                <ul class="dropdown-menu" style="background-color:#f9c623">
                                    <li><a tabindex="-1" onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="Black0 m-md-2">Deer (Italia)</a>
                                <ul class="dropdown-menu" style="background-color:#f9c623">
                                    <li><a tabindex="-1" onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Mozzarella cheese"})'" class="Black m-md-2">Mozzarella cheese</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Cheddar Low Fat"})'" class="Black m-md-2">Cheddar Low Fat</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Red Cheddar"})'" class="Black m-md-2">Red Cheddar</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = ">White Cheddar"})'" class="Black m-md-2">White Cheddar</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Red Cheddar Low Fat"})'" class="Black m-md-2">Red Cheddar Low Fat </a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="Black0 m-md-2">FriendShip</a>
                                <ul class="dropdown-menu" style="background-color:#f9c623">
                                    <li><a tabindex="-1" onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="Black0 m-md-2">Gourmino</a>
                                <ul class="dropdown-menu" style="background-color:#f9c623">
                                    <li><a tabindex="-1" onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                    <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = "Hard Cheese"})'" class="Black m-md-2">Second level</a></li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">@ElArabia.Resource.StoreAr.OurRecipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">@ElArabia.Resource.StoreAr.OurStory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">@ElArabia.Resource.StoreAr.CheeseMagic</a>
                    </li>
                </ul>
                <form asp-controller="Home" asp-action="Search">
                    <input class="form-control mr-sm-2" type="text" name="SearchString" placeholder="Search" />
                </form>
            </div>
        </nav>

    </header>

    <div class="container my-5">
        <main role="main" class="pb-3 my-lg-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-transparent">
        <div class="container body-content" id="bodyFooter">
            <div class="row" style="position: relative; ">
                <div class="col-md-4 my-5">
                    <a href="https://www.facebook.com/mostafa.tito.1829" target="_blank">
                        <i class="fa-brands fa-facebook-square IconFooter"></i>
                    </a>
                </div>
                <div class="col-md-4 my-5">
                    <a href="#">
                        <i style="color:rgb(211 50 50)" class="fa-brands fa-instagram IconFooter"></i>
                    </a>
                </div>
                <div class="col-md-4 my-5">
                    <a href="#">
                        <i style="color:deepskyblue" class="fa-brands fa-twitter IconFooter"></i>
                    </a>
                </div>
            </div>
            <p class="float-right my-5" style="font-size: 25px;"><a style="color:Black m-md-2;" href="#" class="fa-solid fa-arrow-up-from-bracket" title="Back to top"></a></p>
            <p id="Footer">&copy; El-Arabia - @DateTime.Now.Year</p>
        </div>
    </footer>

    <script src="~/js/jquery.min.js.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
