<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El-Arabia - @ViewBag.Title</title>
    <link rel="icon" href="~/Images/Logo/gold sahdaow.png" /><!--Logo-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/NewStyle.css" rel="stylesheet" />
    <link href="~/css/Responsive.css" rel="stylesheet" />
    <link href="~/css/navbar.less" rel="stylesheet" />
    <link href="~/css/nav.less" rel="stylesheet" />
    <style>
        .pull-left {
            float: left !important;
        }
     
    </style>
</head>
<body>
    <header>
        <div id="header">
            <div class="container">
                <a>
                    <h1 class="logo" title="El-Arabia"></h1>
                </a>

                <nav class="navbar navbar-expand-md navbar-dark fixed-top">
                    <div class="collapse navbar-collapse js-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cheeses by Category <span></span></a>
                                <ul class="dropdown-menu" role="menu" style="display: none;">
                                    <li id="cheese-by-type-link"><a href="/by_type/?per_page=20">Cheeses by type</a></li>
                                    <li id="cheese-by-country-link"><a href="/by_country/?per_page=20">Cheeses by country</a></li>
                                    <li id="cheese-by-milk-link"><a href="/by_milk/?per_page=20">Cheeses by milk</a></li>
                                    <li id="cheese-by-texture-link"><a href="/by_texture/?per_page=20">Cheeses by texture</a></li>
                                    <li id="cheese-by-color-link"><a href="/by_color/?per_page=20">Cheeses by color</a></li>
                                </ul>
                            </li>
                            
                            <li>
                                <a>@ElArabia.Resource.StoreAr.OurRecipes</a>
                            </li>
                            <li>
                                <a href="#">@ElArabia.Resource.StoreAr.OurStory</a>
                            </li>
                            <li>
                                <a href="#">@ElArabia.Resource.StoreAr.CheeseMagic</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div id="top-search" class="search-bar">
                    <form action="/" method="get" class="pull-left">
                        <div class="input-group search-form">
                            <input type="text" class="form-control" id="search-church" value="Craving for some cheese? Search here!" name="q" onfocus="if( this.value == 'Craving for some cheese? Search here!' ) this.value = '';" onblur="if( this.value == '' ) this.value = 'Craving for some cheese? Search here!';">
                            <span class="input-group-btn">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </form>
                    <div id="social-links">
                        <a href="https://www.facebook.com/mostafa.tito.1829" target="_blank">
                            <i class="fa-brands fa-facebook-square IconFooter"></i>
                        </a>
  
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="container my-5">
        <main role="main" class="pb-3 my-lg-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-transparent">
        <div class="container body-content" id="bodyFooter">
            <div class="row" style="position: relative; ">
                <div class="col-md-4 my-5">
                    <a href="https://www.facebook.com/mostafa.tito.1829" target="_blank">
                        <i class="fa-brands fa-facebook-square IconFooter"></i>
                    </a>
                </div>
                <div class="col-md-4 my-5">
                    <a href="#">
                        <i style="color:rgb(211 50 50)" class="fa-brands fa-instagram IconFooter"></i>
                    </a>
                </div>
                <div class="col-md-4 my-5">
                    <a href="#">
                        <i style="color:deepskyblue" class="fa-brands fa-twitter IconFooter"></i>
                    </a>
                </div>
            </div>
            <p class="float-right my-5" style="font-size: 25px;"><a style="color:Black m-md-2;" href="#" class="fa-solid fa-arrow-up-from-bracket" title="Back to top"></a></p>
            <p id="Footer">&copy; El-Arabia - @DateTime.Now.Year</p>
        </div>
    </footer>

    <script src="~/js/jquery.min.js.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/checkout.js"></script>
    <script src="~/js/toast.min.js"></script>

</body>
</html>
